# OS files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Environment files
.env
.env.*

# Composer
/vendor/

# Node
/node_modules/
